[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/TBXML"]
	path = Vendor/TBXML
	url = git://github.com/71squared/TBXML.git
[submodule "Vendor/zipzap"]
	path = Vendor/zipzap
	url = git://github.com/pixelglow/zipzap.git
[submodule "Vendor/LRImageManager"]
	path = Vendor/LRImageManager
	url = git://github.com/luisrecuenco/LRImageManager.git
